@model HobbyCollection.Models.FavoriteCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="my-3 my-md-5">Create</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="col-md-6 form-group">
            <label for="name">Name</label>
            <input asp-for="Favorite.Name" class="form-control" required />
            <span asp-validation-for="Favorite.Name" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label for="price" class="mt-2">Price</label>
            <input type="number" name="price" id="price" class="form-control">
        </div>
        <div class="col-md-6 form-group">
            <label for="name" class="mt-2">Type</label>
            <select asp-for="SelectedTagIds" data-val="false" asp-items="Model.TagsList" multiple="multiple"></select>
        </div>
        <div class="col-md-6 form-group">
            <label for="description" class="mt-2">Description</label>
            <input asp-for="Favorite.Description" class="form-control" />
            <span asp-validation-for="Favorite.Description" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label for="image" class="mt-2">Image</label>
            <input asp-for="Favorite.Image" type="file" class="form-control" name="ImageFile" />
            <span asp-validation-for="Favorite.Image" class="text-danger"></span>
        </div>
        <div class="d-flex gap-3 mt-4">
            <input type="submit" value="Create" class="readmore" />
            <a asp-action="Index" class="readmore">Back to List</a>
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
