@model IEnumerable<HobbyCollection.Models.Favorite>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="my-3 my-md-5 d-flex justify-content-between align-items-center">
        <h1>My Favorite List</h1>
        <p>
            <a asp-action="Create" class="button-format" style="background-color: #FAE497;">Create New</a>
        </p>
    </div>
    <div id="portfolio-grid" class="row no-gutter">
        @foreach (var item in Model)
        {
            <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
                <a asp-action="Details" class="item-wrap fancybox" asp-route-id="@item.Id">
                    <div class="work-info">
                        <h3>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h3>
                    </div>
                    <img src="@(!string.IsNullOrEmpty(item.Image) ? item.Image : "/image/noimage.jpg")"
                        class="w-100 object-fit-cover" style="height: 300px;" alt="Favorite Image" />
                </a>
            </div>
        }

    </div>
</div>
