@model HobbyCollection.Models.Tag

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="my-3 my-md-5">Create</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="d-flex gap-3 mt-4">
            <input type="submit" value="Create" class="button-format" style="background-color: #B3D6D8;" />
            <a asp-action="Index" class="button-format" style="background-color: #D1DAE1;">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
